*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4rem;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  /* max-width: 500px; */
  /* margin: 2rem auto; */
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

/* .content { */
/* position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 18px;
    display: flex;
    flex-direction: column; */
/* padding: 3vh 10vw; */
/* width: 80vw; */
/* max-width: 800px;
    align-items: center;
    justify-content: center; */
/* } */

.content h2 {
  text-align: center;
  padding: 40px 0px 20px;
  margin: 0;
}

.form {
  /* padding: 0px 20px 20px; */
  /* max-width: 80vw; */
  /* Center horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 0 10px;
  /* width: 80vw; */
}

.title label {
  display: block;
  margin: 10px 0px;
  font-weight: 800;
  font-size: 20px;
}

.title input {
  padding: 5px;
  margin: 5px 0px;
  border: 3px solid #000;
  border-radius: 18px;
  min-width: 716px;
  font-weight: 500;
  padding: 5px 10px;
}

.dates {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 80vw;
}

.date {
  /* Align in row with full size */
  /* display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-items: start;
}

.date label {
  /* Mke the text Take all the space in one line */
  /* display: inline-block;
    width: 100%; */
  /* width: 400px; */
  display: block;
  margin: 10px 0px;
  font-weight: 800;
  font-size: 20px;
}

.date input {
  /* display: flex;
    flex-direction: column;
    gap: 10px; */
  margin: 5px 0px;
  border: 3px solid #000;
  border-radius: 18px;
  width: 200px;
  font-weight: 500;
  padding: 5px 10px;
}

.questions {
  /* display: flex;
    flex-direction: column;
    gap: 20px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 80vw; */
  max-width: 800px;
}

.questions h3 {
  /* Position left */
  align-items: flex-start;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 20px;
}

.cancel {
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
  border-radius: 20px;
  padding: 10px;
  font-weight: 800;
  cursor: pointer;
}

.save {
  background-color: #000;
  color: #fff;
  border: 3px solid #000;
  border-radius: 20px;
  padding: 10px;
  font-weight: 800;
  cursor: pointer;
}

.error {
  color: red;
}
