.addButton {
    background-color: #000000;
    border-radius: 100%;
    border: none;
    color: white;
    font-size: 20px;
    padding: 15px 15px;
    cursor: pointer;
    /* Place it on the right bottom corner */
    position: fixed;
    bottom: 80px;
    right: 80px;
}

.addQuestionPage {
    color: #000000;
    background-color: #000000;
}