.login {
  display: flex;
  flex-direction: column;
  padding: 5vh 20vw;
  /* align-items: center; */
  /* justify-content: center; */
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.heading h2 {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.error {
  color: red;
}

.form label {
  display: block;
  margin: 10px 0px;
  font-weight: 500;
  font-size: 20px;
}

.form input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
}

.form button {
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0;
  background: rgb(4, 16, 79);
  background: linear-gradient(
    135deg,
    rgba(4, 16, 79, 1) 0%,
    rgba(0, 67, 196, 1) 35%,
    rgba(0, 188, 226, 1) 100%
  );
  color: #fff;
  border: none;
  /* background-color: #000;
    color: #fff;
    border: 2px solid #000; */
}

.form button:hover {
  transform: scale(1.01);
  transition: 0.05s;
}
